In [3]:
# Mòdul 2 - Bàsics de Python
print('Hola mundo')

Hola mundo

In [6]:
a = True
if a:
    print('Hola')

Hola

In [3]:
a = 5
b = 'boo'
if a < 5:
    print ('Hola')
elif a > 5 and b == 'booo':
    print('Adios')
else:
    print('Hey')

Hey

In [6]:
a = 3
if a < 5:
    print ('Hola')
if a > 5 and b == 'booo':
    print('Adios')
else:
    print('Hey')

Hola
Hey

In [19]:
my_string = 'Hola mundo'
print(my_string)
print(my_string)

Hola mundo
Hola mundo

In [17]:
# imprimir una variable sense utilitzar el print
my_string

'Hola mundo'

In [18]:
# imprimir una variable amb el print
print('Esto es el contenido de a: ', a)

Esto es el contenido de a:  3

In [20]:
b = 0
print(a)
b

3

0

In [22]:
# Tipos de Datos
# int integer
# float flotante
# str string
# bool valor binario
# None no value

my_int = 5
my_float = 5.0
my_str = 'String'
my_str2 = "String2"
my_bool = True
my_none = None

print(my_int)
print(my_float)
print(my_str)
print(my_str2)
print(my_bool)
print(my_none)

5
5.0
String
String2
True
None

In [24]:
# Reescritura de variables
my_string = 'casa'
my_string = 'finca'
my_string

'finca'

In [28]:
# Combinación de valores
5 + 10

15

In [29]:
5.2 + 1

6.2

In [30]:
'casa' + 'finca'

'casafinca'

In [31]:
c = '1'
print (int(c))

1

In [32]:
# Operadores and or
b == 0

True

In [33]:
b == 1

False

In [34]:
b == '0'

False

In [35]:
(b == 0) and (a == 1)

False

In [36]:
(b == 0) or (a == 1)

True

In [38]:
a = 'casa'
(b == 0) and (a == 'casa')

True

In [39]:
if (b == 0) and (a == 'casa'):
    print ('pasó')
else:
    print ('no pasó')

pasó

In [ ]:
# Operadores aritméticos: + - * / % (módulo) ** (potencia)
# Operadores comparativos: == > < >= <= !=
# De identidad: IS   IS NOT
# Presencia: IN   NOT IN

In [40]:
4**2

16

In [41]:
# Con strings podemos utilizar algunos operadores aritméticos. P.e. la mutiplicación repite el string n veces
a = 'Cas'
a*2

'CasCas'

In [43]:
a is b

False

In [44]:
'casa' in 'bonita'

False

In [45]:
'ta' in 'bonita'

True

In [47]:
# Listas: colección de elementos de cualquier tipo >> son mutables (modificar sus valores). Se declaran con []. Para acceder a un elementos lo hacemos a través de su índice... empieza en el cero!!!
# Tuplas: colección de elementos de cualqueir tipo >> no son mutables. Se declaran con ()

# Crear una lista vacía
my_list = []
my_list

[]

In [48]:
# Crear una tupla vacía
my_tupla = ()
my_tupla

()

In [49]:
my_list = [12, 'casa', [1,2], (1,2,3)]
my_list

[12, 'casa', [1, 2], (1, 2, 3)]

In [50]:
my_list[1]

'casa'

In [51]:
my_list[2]

[1, 2]

In [52]:
my_list[3]

(1, 2, 3)

In [54]:
my_list[0]

12

In [13]:
my_list = [12, 'casa', [1,2], (1,2,3),'casa',True,None]
my_list

[12, 'casa', [1, 2], (1, 2, 3), 'casa', True, None]

In [58]:
my_list[-1]

In [59]:
my_list[-2]

True

In [60]:
# Aceeder al elemento 2 de una lista y dentro de esa lista el 1
my_list[2][1]

2

In [61]:
print ('El elemento de la lista de mi lista es:', my_list[2][1])

El elemento de la lista de mi lista es: 2

In [62]:
# Algunos métodos de las listas: append(), clear(), copy(), count(), extend(), index(), insert(), pop(), remve(), reverse(), sort()
my_list.index(12)

0

In [64]:
my_list.index('casa')

1

In [14]:
my_list.append(['casa', 'bonita'])
my_list

[12, 'casa', [1, 2], (1, 2, 3), 'casa', True, None, ['casa', 'bonita']]

In [66]:
my_list.append(('casa', 'bonita'))
my_list

[12,
 'casa',
 [1, 2],
 (1, 2, 3),
 'casa',
 True,
 None,
 ['casa', 'bonita'],
 ('casa', 'bonita')]

In [67]:
# Que me muestre un rango de valores de la lista
my_list[0:5]

[12, 'casa', [1, 2], (1, 2, 3), 'casa']

In [68]:
my_list[:5]

[12, 'casa', [1, 2], (1, 2, 3), 'casa']

In [69]:
my_list[7:]

[['casa', 'bonita'], ('casa', 'bonita')]

In [70]:
my_list[7:9]

[['casa', 'bonita'], ('casa', 'bonita')]

In [15]:
my_list[7] = 'finca'
my_list

[12, 'casa', [1, 2], (1, 2, 3), 'casa', True, None, 'finca']

In [74]:
# No hay nada en la tupla >> da 0 al contar
my_tupla.count(0)

0

In [75]:
# Acceder fuera de rango >> da error
my_list[12]

IndexError: list index out of range

In [77]:
# Diccionarios Clave: Valor >> Para acceder a un valor a través de una clase y no a través de un indice
# Algunos métodos: clear(), copy(), fromkeys(), get(), items(), keys(), pop(), popitem(), setdefault(), update(), values()

# Crear un diccionario
my_dict ={ 
    'uno':1,
    'dos':2,
    'tres':3
}
my_dict

{'uno': 1, 'dos': 2, 'tres': 3}

In [78]:
# Crear diccionario con constructor
my_dict2 = dict([('uno',1),
    ('dos',2),
    ('tres',3)])
my_dict2

{'uno': 1, 'dos': 2, 'tres': 3}

In [2]:
# Crear un diccionario a partir de uno vacío
dyct1 = {}
dyct1['uno'] = 1
dyct1['dos'] = 2
dyct1

{'uno': 1, 'dos': 2}

In [3]:
# Cambiar los valores de un diccionario >> agrega a lo que tuviéramos una lista con 2 valores más
dyct1['dos'] = [dyct1['dos'],22,12]
dyct1

{'uno': 1, 'dos': [2, 22, 12]}

In [5]:
# copiar un diccionario en otro (si no utilizamos el copy y en su lugar hacemos una asignación entre diccionarios, los cambios en un diccionario se pasan al otro)
dyct3 = dyct1.copy()
dyct3

{'uno': 1, 'dos': [2, 22, 12]}

In [7]:
dyct3['uno']=4
print(dyct3)
dyct1

{'uno': 4, 'dos': [2, 22, 12]}

{'uno': 1, 'dos': [2, 22, 12]}

In [8]:
# Obtener un elmento de un diccionario a través de la clave
dyct1.get('dos')

[2, 22, 12]

In [9]:
# Obtener solo las keys de un diccionario
dyct1.keys()

dict_keys(['uno', 'dos'])

In [10]:
# Obtener todos los item de un diccionario
dyct1.items()

dict_items([('uno', 1), ('dos', [2, 22, 12])])

In [19]:
# Bucles FOR y WHILE
my_list
for item in my_list:
    print(item)

12
casa
[1, 2]
(1, 2, 3)
casa
True
None
finca

In [21]:
for keys, values in dyct1.items():
    print("la Keys es", keys, "y el valor es", values)

la Keys es uno y el valor es 1
la Keys es dos y el valor es [2, 22, 12]

In [23]:
# Funciones >> las definimos con def
def add (a,b):
    result = a + b
    return result

add(3,4)

7

In [29]:
def mult (x,y):
    print('La mumtiplicación de', x , '*', y, '* 10 es: ' )
    return x*y*10

mult(2,3)

La mumtiplicación de 2 * 3 * 10 es:

60

In [ ]:
#Exemple de funció de sumar dues variables
def add(a,b):
    suma = a+b
    return suma
add(5,4)

In [1]:
#Variable global fora de la funció i funció sense cap paràmetre d'entrada
num = 5
def five():
    i = 1
    return num + i
five()

6